@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sriracha&display=swap');

/*No root vai a configuaração das fontes*
e temos o -- que são as variáveis*/
:root{
      --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
      --titulo:  'Open Sans', sans-serif;
      --section:  'Sriracha', cursive;
}

/* Aqui é a configuração do reader*/
*{
    margin: 0px;
    padding: 0px;
    
} 
 

html, body{
            min-height: 100vh;

             background-color: darkgray; 
             font-family: var(--fonte1);


}

header{ /* titulo*/
    background-color: rgb(14, 14, 14);
    color: rgb(248, 246, 246); /* cor do titulo*/
    text-align: center;
    font-family: var(--titulo);
}


h1{
    padding: 50px;
    /*text-transform: uppercase;* deixa as letras todas grander*/
     font-variant: small-caps;/* Essa é melhor que a de cima*/


}


header > h1{ /* cabeçalho*/
          padding-top: 50px;
          font-variant: small-caps;
          font-family: var(--titulo);
          font-size: 8vw;/*Largura da tela  viewport*/   
}






header{
    padding: 50px;
}

header > P{
    padding-bottom: 1px;
}

a{
    color: rgb(249, 246, 246);
    text-decoration: none; /*Tira o sublinhado do link*/
    font-weight: bolder; /* Deixa em negrito*/
}

a:hover{
    text-decoration: underline;/*Quando passa o mouse fica sublinhado*/
}

a#cor{ /* cor do link do roda pé*/
    color: rgb(254, 251, 251);
    font-weight: bolder;
    
 }

section{
    padding-top:10vh ;
    padding-bottom: 10vh;
    line-height: 2em;/*Dá espaço nas linhas*/
    padding-left: 30px; /*Dá espaço da margem*/
    font-family: var(--section);
    font-size: 2.5vw;

}   


 section.normal{
    background-color: rgb(255, 255, 255);
    color: rgba(3, 3, 3, 0.884);

 }
 
 section.imagem{
     background-color: rgba(255, 255, 255, 0.968);
     color: rgba(7, 7, 7, 0.34);
     box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.332);
     background-attachment: fixed;
 }
  
 
  section.imagem > p{ /*joaninha*/
    display:inline-block; 
    padding: 5px;  
    background-color: rgba(0, 0, 0, 0.326);
 
    
   
 }

 section > p{
    padding-bottom: 2em;
    
    color: rgb(16, 16, 16);

 }
 
 section#img01{

    background-image: url(../imagens/background001.jpg) ;
    background-position: right center;
    background-size: cover; /*joga a imagem para direita*/

 }

section#img02{

         background-image: url(../imagens/background002.jpg);
         background-size: cover;/*joga a imagem para direita*/
         

}

 footer{
    text-align: center;
    background-color: black;
    color: rgb(252, 248, 248);
    padding: 10px;
    font-weight: bolder;
 }